<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- Settings for this game title. (Must be the same with AuthServer, ApiServer and LobbyServer -->
    <add key="AesKey" value="RYtoTxHdu9Er4F9oFdK3m7k8tpu9hitAxWPU9iFRubg=" />
    <add key="AesIv" value="orfxwbQx7HoHja4SDWo9UA==" />
    <add key="ApiServer" value="http://localhost:60836/" />
    <!--<add key="ApiServer" value="http://api.werewolfgame.apwei.com/" />-->
    <add key="PlayLogDownloadUrl" value="http://localhost:50731/{0}/PlayLog/Download/{1}"/>
    <!--<add key="PlayLogDownloadUrl" value="http://人狼ゲームオンライン.com/{0}/PlayLog/Download/{1}"/>-->
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=werewolf2debug;AccountKey=KCBPiW1w1wJ0dhPzPw16NBJY66hKZMZwQZJj3RT4DaJo9pRrOfQKiCQh/F+ZQ6dSHbbP2AohUqsaRKrx2VoyfQ==" />
    <!--<add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=werewolf2;AccountKey=/asPGz2kN8TzV2+ZfXt0ed0pbzm4LVwjocZwpYc69lHafBmBYdzZ+hNVOQu1lmDemWueRKJtOgq7PtHYvQAGfA==" />-->
    
    <!-- Settings for this instance of GameSever. -->
    <add key="Host" value="192.168.100.6"/>
    <add key="Port" value="8080"/>
    <add key="Name" value="東京第一サーバ"/>
    <add key="MaxPlayers" value="400"/>
    <add key="ReportStatus" value="True"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>